html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Muller";
  src: local("MullerRegular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerLight"), url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerBold"), url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerMedium"), url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

address {
  font-style: inherit;
}

textarea {
  border: none;
  resize: none;
}

textarea,
input,
select,
fieldset {
  -moz-appearance: none;
  outline: 0px none transparent;
  border: none;
}

img {
  max-width: 100%;
}

body {
  margin: auto;
  max-width: 1200px;
  min-width: 320px;
  font-family: "Muller", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  background-color: #f1f1f1;
}

.main {
  margin-bottom: 40px;
}

/*glob*/
.list__reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn__reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.section__offset {
  padding-top: 70px;
}

.section__title {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 40px;
  font-size: 40px;
  font-weight: 400;
  color: #333333;
}

.btn {
  padding: 13px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #cc9933;
  border: 1px solid #cc9933;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  transition: background 0.8s ease-out, color 0.3s ease-out;
}

.btn:focus {
  border: 1px solid transparent;
  background: #cc9933;
  color: #ffffff;
}

.btn:hover {
  border: 1px solid transparent;
  background-color: #cc9933;
  color: #ffffff;
}

.btn:active {
  color: #ffffff;
  background: #a47312;
}

.link {
  cursor: pointer;
  transition: color 0.8s ease-in-out;
}

.link:focus-visible {
  outline: none;
}

.social-icon {
  transition: fill 0.8s ease-out;
}

.social-link:hover .social-icon path,
.social-link:focus .social-icon path {
  outline: none;
  fill: #f0bf5f;
}

.social-link:active .social-icon path {
  fill: A47312;
}

/*header*/
.header {
  padding-top: 40px;
  color: #666666;
}

.header__top {
  align-items: center;
  margin-bottom: 30px;
}

.header__logo {
  margin-right: 40px;
}

.header__phone {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.link__account {
  position: relative;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #cc9933;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M11.59 7.41L15.17 11H1V13H15.17L11.58 16.59L13 18L19 12L13 6L11.59 7.41ZM20 6V18H22V6H20Z' fill='%23CC9933'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left;
  transition: background-image 0.8s ease-out;
}

.link__account:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M11.59 7.41L15.17 11H1V13H15.17L11.58 16.59L13 18L19 12L13 6L11.59 7.41ZM20 6V18H22V6H20Z' fill='%23f0bf5f'/%3E%3C/svg%3E");
}

.header__nav {
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  border-radius: 15px;
  background: #ffffff;
}

.nav__list {
  margin-right: 114px;
  margin-left: 45px;
}

.nav__item:not(:last-child) {
  margin-right: 45px;
}

.header__btn:not(:last-child) {
  margin-right: 40px;
}

.header__btn.btn__call {
  margin-right: 45px;
  padding: 13px 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

/*offer*/
.offer__cards {
  color: #ffffff;
}

.offer__list {
  margin-right: 24px;
}

.offer__item {
  flex-direction: column;
  justify-content: end;
  padding: 40px 45px;
  border-radius: 15px;
  width: 573px;
  min-height: 258px;
}

.offer__article {
  flex-direction: column;
  justify-content: end;
  padding: 212px 45px 40px;
  border-radius: 15px;
  width: 573px;
  min-height: 540px;
  background: url(../img/offer3.jpg) no-repeat;
  background-size: cover;
}

.offer__item:not(:last-child) {
  margin-bottom: 24px;
}

.offer__item:first-child {
  background-image: linear-gradient(90deg,
      rgba(48, 64, 89, 0.84) -2.9%,
      rgba(53, 65, 83, 0) 65.7%),
    url(../img/offer1.jpg);
}

.offer__item:not(:first-child) {
  background-image: linear-gradient(90deg,
      rgba(48, 64, 89, 0.84) -2.9%,
      rgba(53, 65, 83, 0) 65.7%),
    url(../img/offer2.jpg);
}

.offer__item .item__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 600;
}

.offer__item .item__price {
  margin-bottom: 47px;
  font-size: 20px;
  font-weight: 400;
  opacity: 80%;
}

.offer__article .item__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 60px;
}

.offer__article .item__price {
  margin-bottom: 47px;
  font-size: 30px;
  font-weight: 400;
  opacity: 80%;
}

.offer__item .item__link,
.offer__article .item__link {
  margin-right: auto;
  padding-right: 15px;
  font-size: 16px;
  color: #f0bf5f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='18' viewBox='0 0 11 18' fill='none'%3E%3Cpath d='M1.49998 1.00002L9.27815 8.7782L1.49998 16.5564' stroke='%23F0BF5F' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center right;
  transition: color 0.8s ease-out;
}

.offer__item .item__link:focus,
.offer__article .item__link:focus {
  outline: none;
}

.offer__item .item__link:active,
.offer__article .item__link:active {
  color: #ffffff;
  outline: none;
}

/*about*/
.about__descr {
  margin: 0;
  max-width: 888px;
  text-align: justify;
  line-height: 200%;
}

/*services*/
.services__list {
  flex-wrap: wrap;
  gap: 24px;
}

.services__item {
  position: relative;
  border-radius: 15px;
  max-width: 573px;


}

.services__link {
  display: inline-block;
  background: #ffffff;
  border-radius: 15px;
  overflow: hidden;
}

.services__content {
  flex-direction: column;
  padding: 26px 45px 35px;
}

.services__link .services__caption {
  margin-bottom: 5px;
  margin-right: auto;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  color: #cc9933;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='18' viewBox='0 0 10 18' fill='none'%3E%3Cpath d='M0.778175 1.00002L8.55635 8.7782L0.778175 16.5564' stroke='%23CC9933' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center right;
  transition: background-image 0.8s ease-out;

}

.services__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 1px solid #CC9933;
  outline-offset: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.services__link:focus::before {
  opacity: 1;
}

.services__link:hover .services__caption {
  color: #F0BF5F;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='18' viewBox='0 0 10 18' fill='none'%3E%3Cpath d='M0.778175 1.00002L8.55635 8.7782L0.778175 16.5564' stroke='%23f0bf5f' stroke-width='2'/%3E%3C/svg%3E");
}

.services__link:active:before {
  outline: none;
  outline-offset: 0;
}

.services__link:active .services__caption {
  color: #A47312;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='18' viewBox='0 0 10 18' fill='none'%3E%3Cpath d='M0.778175 1.00002L8.55635 8.7782L0.778175 16.5564' stroke='%23CC9933' stroke-width='2'/%3E%3C/svg%3E");
}

.services-descr {
  line-height: 200%;
}

/*advantages*/
.advantages-list {
  flex-wrap: wrap;
  gap: 22px;
}

.advantages-item {
  flex-direction: column;
  align-self: start;
  padding: 40px 45px 32px;
  border-radius: 15px;
  width: 276px;
  background: #ffffff;
}

.advantages-img {
  margin: 0;
  margin-bottom: 10px;
  width: 64px;
}

.advantages-descr {
  line-height: 200%;
}

/*placement*/
.placement-list {
  flex-wrap: wrap;
  gap: 24px;
}

.placement-item {
  border-radius: 15px;
  background: #ffffff;
  overflow: hidden;
}

.placement-item-content {
  padding: 32px 45px 45px;
}

.placement-item-top {
  margin: 0;
  margin-bottom: 16px;
}

.placement-price {
  font-size: 20px;
  font-weight: 600;
}

.price-gray,
.price-dark {
  font-size: 16px;
  font-weight: 400;
}

.price-gray,
.placement-item-descr {
  color: #999999;
}

.price-dark {
  color: #000000;
}

.placement-item-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
}

.placement-item-descr {
  margin: 0;
  margin-bottom: 20px;
}

.placement__last {
  align-items: end;
  padding: 0 54px 27px;
  border-radius: 15px;
  min-width: 374px;
  background: url(../img/placement_last.jpg) no-repeat;
  background-size: cover;
  color: #ffffff;
}

.all-variants {
  padding-right: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  background-image: url(../img/Rectangle_placement_white.svg);
  background-repeat: no-repeat;
  background-position: center right;
}

/*tours*/
.tours-container {
  padding: 45px 40px;
  border-radius: 15px;
  background-color: #e9e9e9;
}

.tours-title {
  margin-left: auto;
}

/*form*/
.form {
  justify-content: space-between;
  align-items: center;
  gap: 41px;
  padding: 32px 28px 32px 15px;
  border-radius: 15px;
  width: 100%;
  max-width: 1080px;
  height: 100%;
  max-height: 106px;
  margin: 0 auto;
  background-color: #ffffff;
}

.form-fieldset {
  font-size: 12px;
  line-height: 12px;
}

.form-fieldset legend {
  margin-bottom: 15px;
  padding-left: 4px;
}

.form-fieldset.flex legend {
  padding: 0;
}

.form-select {
  min-width: 170px;
  padding-right: 26px;
  font-size: 16px;
}

.form-input {
  font-size: 16px;
}

.form-input:not(input[type="date"]) {
  border-bottom: 1px solid #cccccc;
}

.form-input[type="number"]::placeholder {
  color: #000000;
}

.form-btn {
  padding: 13px 30px;
}

/*contacts*/
.contacts-wrapper {
  gap: 53px;
  padding: 45px;
  border-radius: 15px;
  background-color: #ffffff;
}

.contacts-content {
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}

.contacts-list {
  margin-bottom: 45px;
}

.contacts-item {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 25px;
  padding-bottom: 23px;
  width: 375px;
  border-bottom: 1px solid #e9e9e9;
}

.contacts-item-title {
  font-weight: 600;
  font-size: 20px;
}

.contacts-item-text {
  width: 229px;
  line-height: 150%;
}

.contacts-item-wrapper {
  flex-direction: column;
  width: 229px;
  line-height: 150%;
}

.contacts-item-descr {
  flex-direction: column;
  color: #999999;
}

.contacts-item-descr:not(:last-child) {
  margin-bottom: 3px;
}

.contacts-item-link {
  color: #cc9933;
}

.contacts-btn {
  padding: 27px 30px;
}

.contacts-img {
  margin-left: auto;
  min-width: 653px;
  border-radius: 10px;
}

/*footer*/
.footer-container {
  justify-content: space-between;
  padding: 45px 45px 0;
  border-radius: 15px;
  background-color: #333333;
  min-height: 341px;
  color: #ffffff;
}

.footer-content {
  flex-direction: column;
  justify-content: space-between;
  width: 302px;
  padding-bottom: 45px;
}

.footer-text {
  line-height: 190%;
}

.footer-address {
  padding-right: 140px;
  line-height: 30px;
  background-image: url(../img/bg_footer.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.footer-address span {
  display: inline-block;
  margin-bottom: 15px;
}

.footer-link {
  color: #cc9933;
  line-height: 150%;
}

.footer-list {
  flex-direction: column;
  justify-content: space-between;
  min-height: 111px;
}

.footer-item:nth-child(2n) {
  margin-bottom: 15px;
}

.social {
  flex-direction: column;
  gap: 20px;
}

.link:focus {
  outline: 1px solid #cc9933;
  outline-offset: 11px;
}

.link:hover {
  color: #f0bf5f;
}

.link:active {
  outline: none;
  color: #a47312;
}